.content {
    padding-top: 60px;
    padding-bottom: 80px;
    background-color: $color-body-xxlight;
}

.section {
    margin-bottom: 56px;
}

.responsive-img {
    width: 100%;
    height: auto;
}

.img-border {
    border: 1px solid $color-body-dark-3;
}