/* Header */
.header {
  position: relative;
  padding-top: 18px;
  background-color: $color-primary-light;

  @media only screen and (max-width: 48em) {
    text-align: center;
  }

  &-title {
    display: inline-block;
    vertical-align: middle;

    @media only screen and (max-width: 48em) {
      display: block;
    }
  }

  &-logo {
    margin-bottom: 18px;

    @media only screen and (max-width: 48em) {
      margin-bottom: 0;
      padding-bottom: 1.5rem;
    }

    &-img {
      display: inline-block;
      vertical-align: middle;
      width: auto;
      height: 70px;
      margin-right: 30px;
      margin-bottom: .5rem;

      @media only screen and (min-width: 768px) {
        height: 110px;
        margin-bottom: 0;
      }
    }

    &-title {
      margin-bottom: 4px;
      text-transform: uppercase;
      font-size: 36px;
      font-weight: $font-weight-bold;
      color: $color-body-xxlight;

      @media only screen and (min-width: 768px) {
        font-size: 54px;
      }
    }

    &-tagline {
      font-size: 16px;
      color: $color-primary-xlight;

      @media only screen and (min-width: 768px) {
        font-size: 20px;
      }
    }
  }

  &-contact {
    margin-top: 12px;
    text-align: center;
    font-size: 24px;
    line-height: 1.5;
    font-weight: $font-weight-bold;
    color: $color-primary-xlight;

    @media only screen and (min-width: 768px) {
      text-align: right;
      font-size: 38px;
    }
  }

  &-alt {
    display: block;
    font-size: 16px;
    font-weight: $font-weight;
    color: $color-primary-xlight;
  }

  &-nav {
    background-color: $color-body-dark-6;
  }
}

/* Shared Elements */

aside {
  display: block;
  float: right;
  width: 35%;
  padding: 2% 2%;
  background: #f7f7f7;
  margin: 30px 0;
}
.guarantee-container {
  width: 100%;
  min-height: 123px;
  padding: 8% 5%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: url(../images/guarantee_bg.png) no-repeat bottom right #3d3dad; /* Old browsers */
  background: url(../images/guarantee_bg.png) no-repeat bottom right -moz-linear-gradient(top, #3d3dad 0%, #34308b 100%); /* FF3.6+ */
  background: url(../images/guarantee_bg.png) no-repeat bottom right -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3d3dad), color-stop(100%, #34308b)); /* Chrome,Safari4+ */
  background: url(../images/guarantee_bg.png) no-repeat bottom right -webkit-linear-gradient(top, #3d3dad 0%, #34308b 100%); /* Chrome10+,Safari5.1+ */
  background: url(../images/guarantee_bg.png) no-repeat bottom right -o-linear-gradient(top, #3d3dad 0%, #34308b 100%); /* Opera 11.10+ */
  background: url(../images/guarantee_bg.png) no-repeat bottom right -ms-linear-gradient(top, #3d3dad 0%, #34308b 100%); /* IE10+ */
  background: url(../images/guarantee_bg.png) no-repeat bottom right linear-gradient(to bottom, #3d3dad 0%, #34308b 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d3dad', endColorstr='#34308b', GradientType=0); /* IE6-9 */
}
img.shadow {
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.3);
}
img.photo-right {
  float: right;
  margin: 0 0 20px 20px;
}
img.photo-full {
  max-width: 580px;
  margin: 12px 20px 20px 0;
}
a img {
  border: none;
}
.line-break {
  width: 100%;
  border-top: 1px solid #e5e5e5;
  margin: 20px 0 32px 0;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Heating Options */
img.product-options {
  float: left;
  margin: 0 14px 18px 0;
}

/* Testimonials */
.testimonaial-container {
  width: 100%;
  padding: 2% 48px;
  background-image: url(../images/quote_open.png), url(../images/quote_close.png);
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  background-color: #f7f7f7;
  border: 8px solid #f7f7f7;
}

/* Typography */
h3.guarantee-title {
  font: normal 18pt/1.2em 'OpenSansSemibold', Arial, Helvetica, sans-serif;
  color: #FFF;
  display: block;
  margin: 0 0 12px 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  filter: dropshadow(color=#000000, offx=1, offy=1);
}
p.guarantee-copy {
  font: normal 12pt/1.2em Arial, Helvetica, sans-serif;
  color: #ffffff;
  margin: 10px 0;
}
ul.list li {
  line-height: 1.4em;
  list-style: disc;
  margin-left: 20px;
}
ol li {
  margin-bottom: 8px;
  line-height: 1.2em;
}
