body {
  background-color: $color-body-dark-1;
  font-size: $font-size;
  font-family: $font-body;
  font-weight: $font-weight;
  color: $color-body-dark-9;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .8em;
  line-height: 1.1em;
  font-family: $font-heading;
  font-weight: $font-weight-heading;
}

h1 {
  margin-bottom: .4em;
  font-size: $font-size-xxlg / 1.15;

  @media only screen and (min-width: 768px) {
    font-size: $font-size-xxlg;
  }
}

h2 {
  font-size: $font-size-xlg / 1.15;

  @media only screen and (min-width: 768px) {
    font-size: $font-size-xlg;
  }
}

h3 {
  font-size: $font-size-lg / 1.15;

  @media only screen and (min-width: 768px) {
    font-size: $font-size-lg;
  }
}

p {
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 1.2rem;
}